header{
	background-color: #FEC111;
	color: #000;
	padding: 10px;
}

carousel-item{
	padding: 10%;
}
.carousel-caption{
	transform: translate(-50%, 50%);
	top: 50%;
	left: 50%;
}
.btn-yellow{
	background-color: #FEC111;
	color: #000;
	padding: 3%;
	font-size: 20px;
	font-weight: bold;
}
.btn-yellow:hover{
	background-color: #000;
	color: #FEC111;
}
footer{
	background-color: #000000;
	color: #fff;
	padding: 20px;
	text-align: center;
}
footer h4{
	text-decoration: underline;
}
.nav-sociales{
	font-size: 25px;
}
.section{
	text-align: center;
	padding: 40px;
}
#fotoapp{
	background-image: url("../img/foto app.jpg");
	background-size: cover;
	background-position: center;
	padding: 15%;
}
#app{
	padding: 10px;
}
#aplicaciones{
	color: #FEC111;
	font-size: 60px;
}
#hero{
	margin-top: 3%;
}
#hero1{
	margin-top: 2%;
	
}